nav {
  &.fixed-bottom {
    z-index: 1055;
  }

  a.dropdown-item {
    cursor: pointer;
  }

  button.options {
    color: #fff;
    margin-right: 15px;
    opacity: 0.6;
    transition: background-color opacity 100ms;

    &:hover {
      opacity: 1;
    }
  }

  .dropup button:disabled {
    cursor: unset;
  }

  // BS Override
  &.navbar-expand .navbar-nav .dropdown-menu {
    right: -19px !important;
    top: -2px !important;
  }
}
