.indicators {
  display: flex;
  max-width: $neck-width;
  padding: $neck-padding-vertical 0;
  width: 100%;
  margin: 0 $fretboard-marker-width;

  .string {
    width: 100%;

    .fret {
      height: $fret-height;
      @include flex-center;

      // Easiest way to match neck fret
      border-bottom: $fret-border-bottom-width solid transparent;

      &.open {
        border-bottom: $fret-open-border-bottom-width solid transparent;
      }

      label {
        margin-bottom: 0;
        position: absolute;

        color: white;
        font-weight: bold;
      }

      .indicator {
        background: $indicator-background;
        border-radius: 50%;
        border: $indicator-border;
        width: $indicator-radius * 2;
        height: $indicator-radius * 2;

        position: relative;

        /* Root */
        &.root {
          border-radius: 9px;
          transform: rotate(45deg);
        }

        /* Degree */
        &.degree {
          // background: rgba(82, 107, 45, .8);
          box-shadow: 0 4px 6px -2px #00000044;

          &.root {
            box-shadow: 3px 3px 6px -2px #00000044;
          }
        }

        $teals: #003020, #106030, #207040, #308050, #409060, #50a070, #60b080, #70c090, #80d0a0;
        $oranges: #302000, #603010, #704020, #805030, #906040, #a07050, #b08060, #c09070, #d0a080;
        $pinks: #300020, #601030, #702040, #803050, #904060, #a05070, #b06080, #c07090, #d080a0;

        $blues: #002030, #103060, #204070, #305080, #406090, #5070a0, #6080b0, #7090c0, #80a0d0;
        $greens: #203000, #306010, #407020, #508030, #609040, #70a050, #80b060, #90c070, #a0d080;
        $purples: #200030, #301060, #402070, #503080, #604090, #7050a0, #8060b0, #9070c0, #a080d0;

        $colors: $blues;

        /* Debug */
        @for $i from 1 through 8 {
          &.degree-#{$i} {
            $color: mix(nth($colors, 3), nth($colors, 8), 100% * ($i / 8));
            background: $color;
            // border-color: darken($color, 2%);
          }
        }

        // @for $i from 1 through 7 {
        //   &.degree-#{$i} {
        //     background: nth($greens, $i + 2);
        //   }
        // }

        /* Barre */
        &.barre {
          background: $indicator-barre-background;
          border-radius: 0;
          border-left: none;
          border-right: none;
          height: $indicator-barre-diameter;
          width: 100%;


          &.start {
            background: none;
            border: none;
            position: relative;

            &::before,
            &::after {
              content: '';
              display:block;
              height: $indicator-barre-diameter;
              position: absolute;
              left: 50%;
            }

            // Start cap
            &::before {
              background: $indicator-barre-start-background;
              border-top-left-radius: $indicator-barre-diameter / 2;
              border-bottom-left-radius: $indicator-barre-diameter / 2;
              border-left: $indicator-border;
              border-top: $indicator-border;
              border-bottom: $indicator-border;
              width: $indicator-barre-diameter / 2;
              left: calc(50% - #{$indicator-barre-diameter} / 2 + #{$indicator-barre-start-offset})

            }

            // Start barre
            &::after {
              width: calc(50% - #{$indicator-barre-start-offset});

              background: $indicator-barre-background; 
              border-top: $indicator-border;
              border-bottom: $indicator-border;
              left: calc(50% + #{$indicator-barre-start-offset});
            }
          }
        }

        /* Muted */
        &.muted {
          background: none;
          border: none;
          height: auto;
          width: auto;


          &::before,
          &::after {
            border: $indicator-muted-border;
            content: '';
            position: absolute;
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &::before {
            width: $indicator-muted-diameter;
          }

          &::after {
            height: $indicator-muted-diameter;
          }
        }
      }

      &.faded {

        label {
        }

        .indicator {
          opacity: .3;
        }
      }
    }
  }
}