/* Indicators */
$indicator-radius: 20px;
$indicator-background: radial-gradient(
    $selector-gradient-inner,
    $selector-gradient-outer 70%
  )
  no-repeat;

$indicator-border-width: 4px;
$indicator-border-color: #fff; //$selector-border-color;
$indicator-border: $indicator-border-width solid $indicator-border-color;

$indicator-muted-border: $indicator-border;
$indicator-muted-length: 46px;
$indicator-muted-width: 14px;

$indicator-barre-diameter: 18px;
$indicator-barre-background: $selector-gradient-linear;
$indicator-barre-start-background: $selector-gradient-radial;
$indicator-barre-start-offset: -15px;

$teals: #003020, #106030, #207040, #308050, #409060, #50a070, #60b080, #70c090,
  #80d0a0;
$oranges: #302000, #603010, #704020, #805030, #906040, #a07050, #b08060, #c09070,
  #d0a080;
$pinks: #300020, #601030, #702040, #803050, #904060, #a05070, #b06080, #c07090,
  #d080a0;

$blues: #002030, #103060, #204070, #305080, #406090, #5070a0, #6080b0, #7090c0,
  #80a0d0;
$greens: #203000, #306010, #407020, #508030, #609040, #70a050, #80b060, #90c070,
  #a0d080;
$purples: #200030, #301060, #402070, #503080, #604090, #7050a0, #8060b0, #9070c0,
  #a080d0;

.indicators {
  display: flex;
  max-width: $neck-width;
  padding: $neck-padding-vertical 0;
  width: 100%;
  margin: 0 $fretboard-marker-width;

  .string {
    width: 100%;

    .fret {
      position: relative;
      height: $fret-height;
      @include flex-center;

      // Easiest way to match neck fret
      border-bottom: $fret-border-bottom-width solid transparent;

      &.open {
        border-bottom: $fret-open-border-bottom-width solid transparent;
      }

      label {
        margin-bottom: 0;
        position: absolute;

        color: white;
        font-weight: bold;
      }

      /* Indicator */
      .indicator {
        border-radius: 50%;
        border: $indicator-border;
        width: $indicator-radius * 2;
        height: $indicator-radius * 2;

        background: $indicator-background;
        box-shadow: 0 4px 6px -2px #00000044;

        position: relative;

        /* Root */
        &.root {
          border-radius: 9px;
          box-shadow: 3px 3px 6px -2px #00000044;
          transform: rotate(45deg);
        }

        /* Degree */
        &.degree {
        }

        $colors: $blues;

        /* Debug */
        @for $i from 1 through 8 {
          &.degree-#{$i} {
            $color: mix(nth($colors, 3), nth($colors, 8), 100% * ($i / 8));
            background: $color;
            // border-color: darken($color, 2%);
          }
        }

        /* Muted */
        &.muted {
          background: none;
          border: none;
          height: auto;
          width: auto;

          // All layers
          > div::before,
          > div::after {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%) rotate(45deg);
          }

          > div::before {
            height: $indicator-muted-width;
            width: $indicator-muted-length;
          }
          > div::after {
            height: $indicator-muted-length;
            width: $indicator-muted-width;
          }

          // Box-shadow
          > div:first-child::before,
          > div:first-child::after {
            box-shadow: 3px 3px 6px -2px #00000044;
            border-radius: 4px;
          }

          // Border
          > div:nth-child(2)::before,
          > div:nth-child(2)::after {
            background: $indicator-border-color;
            border: $indicator-muted-border;
            border-radius: 4px;
          }

          // Interior fill
          > div:last-child::before,
          > div:last-child::after {
            background: nth($colors, 7);
            border-radius: 2px;
          }
          > div:last-child::before {
            height: $indicator-muted-width - ($indicator-border-width * 2);
            width: $indicator-muted-length - ($indicator-border-width * 2);
          }
          > div:last-child::after {
            height: $indicator-muted-length - ($indicator-border-width * 2);
            width: $indicator-muted-width - ($indicator-border-width * 2);
          }
        }
      }

      &.faded {
        .indicator {
          opacity: 0.3;
        }
      }
    }

    /* Barre */
    .barre {
      position: absolute;
      height: $indicator-barre-diameter;
      width: 100%;
      background: linear-gradient(nth($blues, 8), nth($blues, 7));

      &.start {
        left: 50%;
        width: 50%;
      }

      &.end {
        right: 50%;
        width: 51%;
      }
    }
  }
}
