.neck {
  padding: $neck-padding-vertical 0;

  .neck-strings {
    display: flex;
    justify-content: space-around;

    .string {
      flex-grow: 1;
    }
  }

  .fret {
    position: relative;

    border-bottom: $fret-border-bottom;

    &.open {
      border-bottom: $fret-open-border-bottom;
      font-weight: $fret-open-font-weight;
    }

    .label {
      @include flex-center;
      @include full;

      position: absolute;

      &.prev {
        opacity: 0;
      }

      &.root {
        // FretDisplayMode
        .fret-marker {
          background-color: $fret-market-root-background-color;
          border-radius: 20%;
          height: $fret-marker-height;
          width: $fret-marker-width;
        }

        label {
          transform: scale(1.1);
          font-weight: 900;
        }
      }

      label {
        margin-bottom: 0;
      }

      // FretDisplayMode
      .fret-marker {
        height: $fret-marker-height - 1px;
        width: $fret-marker-width - 1px;

        background-color: $fret-marker-background-color;
        border: $fret-marker-border;
        border-radius: 35%;
        transform: rotate(45deg);
      }
    }
  }
}



.fret,
.fret-number,
.fretboard-marker-group {
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      height: calc(#{$fret-height} - #{$i}px);
    }
  }
}