.tool-panel {
  &.chord,
  &.scale {
    // TODO: .diagram uses this too
    .panel > .header {
      display: flex;
      justify-content: flex-end;

      padding: 1em 0;
    }

    .content {
      $option-height: 30px;

      .options .show {
        margin-bottom: 1rem;
      }

      .options-container {
        display: flex;
        flex-direction: column;

        background: $theme-bg-secondary;
        border-radius: 6px;
        padding: 1rem;

        button {
          align-self: flex-end;
        }

        h5 + .form-group {
          display: flex;
          align-items: baseline;
          width: 200px;

          input {
            margin-left: 0.5em;
            width: 80px;
          }
        }

        .option-checks {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          // TODO: static - based on # options
          height: $option-height * 2;
          margin-bottom: 0.5rem;

          > .form-group {
            height: $option-height;
            margin-bottom: 0;

            &,
            * {
              cursor: pointer;
            }
          }
        }
      }

      .variations {
        display: flex;
        justify-content: space-around;

        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          background: #f0f0f0;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-track {
          background: #fafafa;
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            background: #ddd;
            border-radius: 4px;
            transition: all 300ms;
          }
          &::-webkit-scrollbar-track {
            background: #f8f8f8;
          }
        }
      }
    }

    &.collapse,
    &.previous {
      .variations {
        overflow-y: hidden;
      }
    }
  }
}

.panel-container:not(.docked) {
  .tool-panel {
    .content .variations {
      flex-wrap: wrap;
    }
  }
}

.panel-container.docked {
  &.left,
  &.right {
    .tool-panel {
      .content .variations {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
