.shadow {
  width: $neck-width;
  height: 1000px;
  box-shadow: $neck-box-shadow;
  margin: $neck-padding-vertical 0;
}

.shadow-overlay {
  height: 100vh;
  width: $neck-width;
  background: $body-background-color;
}

.fretboard {
  background: $fretboard-background;
  width: $neck-width;
}

.fretboard-numbers,
.fretboard-markers {
  padding: $neck-padding-vertical 0;
}

.fretboard-numbers {
  display: flex;
  justify-content: space-between;

  &.right {
    justify-content: flex-end;
  }

  .fret-number-group {
    .fret-number {
      @include flex-center;

      color: $fret-label-color;
      height: $fret-height;
    }
  }
}

.fretboard-markers {
  width: $neck-width;
}

.fretboard-marker-group {
  @include flex-center;

  color: #999;
  height: $fret-height;

  // FretDisplayMode.Marker
  .fretboard-marker:not(.open) {
    height: $fretboard-marker-height;
    width: $fretboard-marker-width;

    background-color: $fretboard-marker-background-color;
    border: $fretboard-marker-border;
    border-radius: 50%;

    // Double marker distance from center
    // 35% <- 50% -> 75%
    margin: 0 15%;
  }
}

.strings-container {
  .strings {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: $neck-width;
    padding: #{$neck-padding-vertical + $fret-height} 0 $neck-padding-vertical;
    flex: 1 1 auto;
    justify-content: space-around;

    .string {
      background: #33333388;
      width: 5px;
    }
    
    @for $i from 1 through 6 {
      .string:nth-child(#{7 - $i}) {
        width: #{$i}px;
      }
    }
  }
}
