
// Not being used yet (I think?)
.fretboard {
  background-color: $fretboard-background-color;
}

.fretboard-numbers,
.fretboard-markers {
  position: absolute;
  width: 100%;
}

.fretboard-numbers {
  max-width: $neck-max-width + $fret-label-width * 2;
  display: flex;
  justify-content: space-between;
  margin-top: $fret-open-height;

  .fret-number-group {
    width: $fret-label-width;

    .fret-number {
      @include debug;
      @include center;

      color: $fret-label-color;
      height: $fret-height;
    }
  }
}

.fretboard-markers {
  padding: 0 $fret-label-width 0;
  margin-top: $fret-open-height;
}

.fret-marker-group {
  @include center;

  height: $fret-height;

  color: #999;

  .fret-marker {
    margin: 0 60px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 50%;
    width: $marker-diameter;
    height: $marker-diameter;
  }
}