.neck {
  width: $neck-width;
  max-width: 100%;
  padding: $neck-padding-vertical 0;

  font-family: $neck-font-family;

  .strings {
    display: flex;
    justify-content: space-around;

    .string {
      flex-grow: 1;
    }
  }

  .fret {
    position: relative;

    border-bottom: $fret-border-bottom;
    height: $fret-height;

    &.open {
      height: $fret-open-height;

      border-bottom: $fret-open-border-bottom;
      font-weight: $fret-open-font-weight;

      // FretDisplayMode
      .label .fret-marker {
        background-color: $fret-market-open-background-color;
      }
    }

    .label {
      @include flex-center;
      @include full;

      position: absolute;

      &.prev {
        opacity: 0;
      }

      &.root label {
        transform: scale(1.1);
        font-weight: 900;
      }

      label {
        margin-bottom: 0;
      }

      // FretDisplayMode
      .fret-marker {
        height: $fret-marker-height;
        width: $fret-marker-width;

        background-color: $fret-marker-background-color;
        border: $fret-marker-border;
        border-radius: 50%;
      }
    }
  }
}
