.neck {
  .strings {
    font-family: $neck-font-family;
  }
}

.fret {
  @include debug;

  border-bottom: $fret-border-bottom;
  height: $fret-height;

  &.open {
    border-bottom: $fret-open-border-bottom;
    font-weight: $fret-open-font-weight;
    height: $fret-open-height;

    .fret-symbol {
      background-color: #ccc;
    }
  }

  .fret-symbol {
    border-radius: 50%;
    border: 1px solid #aaa;
    height: 10px;
    width: 10px;
  }

  .label {
    &.prev {
      opacity: 0;
    }

    label {
      margin-bottom: 0;
    }
  }
}
