$panel-content-max-height: 600px;

$debug-scrollbar-width: 20px;

.tool-panel {
  position: absolute;

  background: $theme-bg;
  border-radius: 8px;
  box-shadow: $l2-box-shadow;
  padding: 1rem;

  opacity: 0;

  cursor: all-scroll;

  &.active,
  &.expand {
    opacity: 1;
    z-index: 1;
  }

  .title {
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
      height: 2rem;
      width: 2rem;

      color: var(--gray);
      padding: 0.5rem 0;

      transition: color 200ms;

      &.active {
        color: var(--primary);
      }
    }
  }

  > .btn-group {
    position: absolute;
    top: 10px;
    right: -10px;

    > .btn-group {
      &:first-child button {
        padding-right: 0.6rem;
      }
      &:last-child button {
        padding-left: 0.6rem;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
 
    cursor: auto;
  }
}

/* Undocked */
.panel-container:not(.docked) {
  .tool-panel {
    height: fit-content;
    width: 100%;

    transition: all $duration;

    .content {
      transition: all $short-duration ease-out 0s;
      max-height: 0;
      overflow: hidden;
    }

    &.active {
      animation: swap-in $duration ease-in-out;

      .content {
        transition: all $duration ease-in-out $shortest-duration;
        max-height: $panel-content-max-height;
      }
    }

    &.previous {
      animation: swap-out $duration ease-in-out;
    }

    &.expand {
      animation: expand $short-duration;

      .content {
        animation: expand-content $short-duration ease-in-out;
        transition: all $short-duration ease-in 0s;
        max-height: $panel-content-max-height;
      }
    }

    &.collapse {
      // BS override
      display: block !important;

      animation: collapse $short-duration;
      transition: none;
      .content {
        transition: all $shorter-duration ease-out;
      }
    }
  }
}

/* Docked */
.panel-container.docked {
  .tool-panel {
    height: 100%;
    width: 100%;

    &:not(.active) {
      display: none;
    }

    &.docked {
      opacity: 1;

      .content {
        max-height: $panel-content-max-height;
      }
    }
  }
}
