
$diagram-string-border: 2px solid black;

$diagram-fret-border: 1px solid rgb(100, 100, 100); //rgb(200, 200, 200);

$diagram-fret-height: 30px;

$diagram-fret-width: 25px;

$diagram-symbol-border-color: black;
$diagram-symbol-border-width: 3px;

$diagram-mute-border: $diagram-symbol-border-width solid $diagram-symbol-border-color;
$diagram-mute-diameter: 20px;

$diagram-dot-background-color: rgba(0, 0, 0, .7);
$diagram-dot-border: $diagram-symbol-border-width solid $diagram-symbol-border-color;
$diagram-dot-diameter: 16px;


.diagram {
  cursor: pointer;
  position: relative;

  height: fit-content;
  margin: 1em;

  transition: 200ms transform;
  transform: translateY(0);

  .diagram-outline {
    transition: 200ms opacity;
    opacity: 0;
  }

  &.active {
    transform: translateY(-3px);

    .diagram-outline {
      position: absolute;
      height: calc(100% + 18px);
      
      opacity: 1;
      top: -10px;
      transform: translateY(0);

      border: $diagram-outline-border;
      border-radius: $diagram-outline-border-radius;
      box-shadow: $diagram-box-shadow;
    } 
  }

  .diagram-container {
    position: relative;
    display: flex;

    > span {
      position: absolute;

      line-height: $diagram-fret-height;
    }

    > .string {

      .fret{
        border-bottom: $diagram-fret-border;
        height: $diagram-fret-height;
        width: $diagram-fret-width;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        &:first-child {
          border-top: $diagram-fret-border;
        }

        .symbol {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &.string {
            border-left: $diagram-string-border;
            height: 100%;
            left: 50%;

          }

          &.mute {

            &::before,
            &::after {
              content: '';
              display: block;
              border: $diagram-mute-border;
              height: $diagram-mute-diameter;
              position: absolute;
            }

            &::before {
              transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }

          &.dot {
            left: calc(50% + .5px);

            background: $diagram-dot-background-color;
            border: $diagram-dot-border;

            height: $diagram-dot-diameter;
            width: $diagram-dot-diameter;
            border-radius: $diagram-dot-diameter / 2;

            &.root {
              border-radius: $diagram-dot-diameter / 3;
              transform: rotate(45deg);
            }
          }

          &.barre {
            background: #000;
            height: 4px;
            width: 160%;  // TODO: hack. check other screen resolutions

            &.start,
            &.end {
              width: 85%;
            }

            &.start {
              width: 85%;
              left: 50%;
              border-top-left-radius: 50%;
              border-bottom-left-radius: 50%;
            }

            &.end {
              border-top-right-radius: 50%;
              border-bottom-right-radius: 50%;
            }
          }
        }

        &.open {
          border-top: none;
          border-bottom-color: black;
          border-bottom-width: 3px;

          .symbol {
            &.dot {
              background: none;
              // background: rgba($diagram-dot-background-color, .5);
            }
          }
        }
      }

      &:first-of-type {
        .fret:not(.open) {
          border-left: $diagram-fret-border;
        }
      }
      
      &:last-of-type {
        .fret:not(.open) {
          border-right: $diagram-fret-border;
        }
      }
    }
  }
    
  .label-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &.md {
    
    .diagram-container {
      > span {
        // padding-top: $diagram-fret-height / 2;
        line-height: $diagram-fret-height / 2;
        font-size: .7rem;
      }

      > .string .fret {
        height: $diagram-fret-height / 2;
        width: $diagram-fret-width / 2;

        .symbol {

          &.dot {
            height: 10px;
            width: 10px;
            border-width: 1.5px;
          }

          &.mute {
            &::before,
            &::after {
              border-width: 2px;
              height: 12px;
            }
          }
        }
      }
    }
  }

  &.sm {

    .diagram-container {
      > span {
        top: $diagram-fret-height / 3;
        text-align: end;

        line-height: $diagram-fret-height / 3;
        font-size: .6rem;
      }

      > .string .fret {
        height: $diagram-fret-height / 3;
        width: $diagram-fret-width / 3;

        .symbol {
          border-left-width: 1px;

          &.dot {
            height: 6px;
            width: 6px;
            border-width: 1px;
          }

          &.mute {
            &::before,
            &::after {
              border-width: 1px;
              height: 8px;
            }
          }
        }

        &.open {
          border-bottom-width: 3px;
        }
      }
    }

    .label-container {

      span {
        font-size: .3em;
      }  
    }
  }
}