/* Container */
$diagram-container-border-color: rgb(75, 75, 75);
$diagram-container-border-width: 1px;
$diagram-container-border: $diagram-container-border-color solid
  $diagram-container-border-width;

/* String */
$diagram-string-color: $diagram-container-border-color;
$diagram-string-width: 1px;
$diagram-string-border: $diagram-string-width solid $diagram-string-color;

/* Fret */
$diagram-fret-border-width: 1px;
$diagram-fret-border-color: black; //rgb(150, 150, 150);
$diagram-fret-border: $diagram-fret-border-width solid
  $diagram-fret-border-color;
$diagram-fret-height: 30px;
$diagram-fret-width: 25px;
$scale: 0.35;

/* Symbol */
$diagram-symbol-border-color: rgb(50, 50, 50);
$diagram-symbol-border-width: 3px;

/* Mute */
$diagram-mute-border: $diagram-symbol-border-width solid
  $diagram-symbol-border-color;
$diagram-mute-diameter: 20px;

/* Dot */
$diagram-dot-background-color: rgb(50, 50, 50);
$diagram-dot-border: $diagram-symbol-border-width * $scale solid
  $diagram-symbol-border-color;
$diagram-dot-diameter: 16px;
$diagram-dot-color: darken($neck-primary, 20%);

/* Dot Highlight */
$diagram-dot-highlight-background-color: $diagram-dot-color;
$diagram-dot-highlight-border-color: $diagram-dot-color;

/* Barre */
$diagram-barre-background-color: $diagram-dot-background-color;

/****************/
/*** Scalable ***/
/****************/
// $scale: 0.7;
$scale: 0.35;

/* Nut */
$diagram-nut-border-width: 8px;

/* Label */
$diagram-label-font-size: 2rem * $scale;
$diagram-label-margin-top: 0.6rem * $scale;

/* Outline */
$diagram-outline-box-shadow: 0 2px 7px -2px #00000044;
$diagram-outline-border-width: 6px;
$diagram-outline-border: $diagram-outline-border-width * $scale solid
  $selector-border-color;
$diagram-outline-border-radius: 16px * $scale;

.diagram {
  cursor: pointer;
  position: relative;

  height: fit-content;
  margin: 1em;

  transition: 200ms transform;
  transform: translateY(0);

  /* Outline */
  .diagram-outline {
    transition: 200ms opacity;
    opacity: 0;
  }

  &.active {
    transform: translateY(-3px);

    .diagram-outline {
      position: absolute;
      height: calc(100% + 18px);

      opacity: 1;
      top: -10px;
      transform: translateY(0);

      border: $diagram-outline-border;
      border-radius: $diagram-outline-border-radius;
      box-shadow: $diagram-outline-box-shadow;
    }
  }

  .label-container {
    width: 100%;
    display: flex;
    justify-content: space-around;

    font-size: $diagram-label-font-size;
    margin-top: $diagram-label-margin-top;

    span {
      font-size: 0.3em;

      &:empty {
        width: 1em;
      }
    }
  }

  /** Mid-Fretboard **/
  .diagram-container {
    position: relative;
    display: flex;
    width: fit-content;

    /* Offset */
    > span {
      position: absolute;
      top: $diagram-fret-height * $scale;
      right: calc(100% + 0.2rem); // TODO: does not work perfectly with scale

      font-size: 1.4rem * $scale;
      line-height: $diagram-fret-height * $scale;
    }

    // Fret height & borders
    .frets,
    .symbols,
    .barres {
      > div {
        height: $diagram-fret-height * $scale;
        border-bottom: $diagram-fret-border;

        &:first-child {
          border-top: $diagram-container-border-width solid
            $diagram-container-border-color;
        }

        &:last-child {
          border-bottom: $diagram-container-border;
        }
      }
    }

    // Border just keep vertical height
    .symbols,
    .barres {
      > div {
        border-bottom-color: transparent;

        &:first-child {
          border-top-color: transparent;
        }
        &:last-child {
          border-bottom-color: transparent;
        }
      }
    }

    .strings,
    .frets,
    .barres {
      position: absolute;

    }

    /* Symbols */
    .symbols {
      > div {
        display: flex;

        > div {
          position: relative;
          width: $diagram-fret-width * $scale;

          /* Note */
          .dot {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            background: $diagram-dot-background-color;

            height: $diagram-dot-diameter * $scale;
            width: $diagram-dot-diameter * $scale;
            border-radius: $diagram-dot-diameter * $scale;

            transition: background-color 300ms ease-out;

            /* Root */
            &.root {
              border-radius: 0;
              transform: translate(-50%, -50%) rotate(45deg) scale(0.9);
            }

            /* Highlighted */
            &.highlight {
              background: $diagram-dot-highlight-background-color;
            }
          }

          /* Mute */
          $mute-symbol-length: 7px;
          $mute-symbol-width: 1px;
          $mute-symbol-offset-y: 3px;

          .mute {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before,
            &::after {
              background: #000;
              content: '';
              position: absolute;
              // transform: rotate(45deg);
              height: $mute-symbol-length;
              width: $mute-symbol-width;
              top: -$mute-symbol-length / 2;
              left: -$mute-symbol-width / 2;
            }

            &::before {
              transform: rotate(45deg);
              // height: $mute-symbol-length;
              // width: $mute-symbol-width;
              // top: -$mute-symbol-length / 2;
              // left: -$mute-symbol-width / 2;
            }
            &::after {
              transform: rotate(135deg);
              // height: $mute-symbol-width;
              // width: $mute-symbol-length;
              // top: -$mute-symbol-width / 2;
              // left: -$mute-symbol-length / 2;
            }
          }
        }

        &.header {
          margin: 0;  // TODO: override .slidein .title, .slidein .header
          
          .dot {
            background: none;
            border: $diagram-dot-border;
            &.root {
            }
          }
        }
      }
    }

    /* Strings */
    .strings {
      display: flex;
      height: 100%;
      width: 100%;
      z-index: -2;

      > div {
        display: flex;
        justify-content: center;
        flex: 1;

        > div {
          border-left: $diagram-string-border;
          height: 100%;
        }
      }
    }

    /* Frets */
    .frets {
      height: 100%;
      width: 100%;
      z-index: -3;

      display: flex;
      flex-direction: column;
      
      padding: 0 ($diagram-fret-width * $scale - $diagram-string-width) / 2;

      > div.header {
        border-top: none;
        margin: 0; 
      }
    }

    /* Barres */
    .barres {
      height: 100%;
      width: 100%;
      z-index: -1;

      display: flex;
      flex-direction: column;

      .header {
        margin: 0;
      }

      > div {
        display: flex;
        align-items: center;

        > div {
          flex: 1;

          &:first-child,
          &:last-child {
            flex-grow: 0.5;
          }

          &.barre {
            background: $diagram-barre-background-color;
            width: 100%;
            height: 30%;
          }
        }
      }
    }

    &.with-header {
      > span {
        top: ($diagram-fret-height * $scale) * 2;
      }
      .strings {
        padding-top: $diagram-fret-height * $scale;
      }
      .frets {
        > div {
          &:first-child {
            border-top: none;
          }
        }
      }
    }

    /** Open Fretboard **/
    &.open {
      .strings {
        padding-top: $diagram-fret-height * $scale;
      }

      /* Layout */
      .frets,
      .symbols,
      .barres {
        > div {
          &:first-child {
            border-top: none;
            border-bottom-width: $diagram-nut-border-width * $scale;
          }
        }
      }

      .frets {
        > div:first-child {
          border-bottom-color: $diagram-container-border-color;
        }
      }

      .symbols {
        > div:first-child {
          > div {
            .dot {
              background: none;
              border: $diagram-dot-border;

              &.highlight {
                border-color: $diagram-dot-highlight-border-color;
              }
            }
          }
        }
      }
    }

    /** First Fret **/
    &.first {
      .frets,
      .symbols,
      .barres {
        > div {
          &:first-child {
            border-top: none;
            border-bottom-width: $diagram-nut-border-width * $scale;
          }
        }
      }

      .symbols {
        > div:first-child {
          // border-bottom-color: red;
        }
      }
    }
  }
}
