/* Container */
$diagram-container-border-color: black;
$diagram-container-open-border-color: black;

/* String */
$diagram-string-border: 2px solid rgb(75, 75, 75);

/* Fret */
$diagram-fret-border: 1px solid rgb(150, 150, 150);
$diagram-fret-height: 30px;
$diagram-fret-width: 25px;

/* Symbol */
$diagram-symbol-border-color: black;
$diagram-symbol-border-width: 3px;

/* Mute */
$diagram-mute-border: $diagram-symbol-border-width solid
  $diagram-symbol-border-color;
$diagram-mute-diameter: 20px;

/* Dot */
$diagram-dot-background-color: rgba(0, 0, 0, 0.7);
$diagram-dot-border: $diagram-symbol-border-width solid
  $diagram-symbol-border-color;
$diagram-dot-diameter: 16px;
$diagram-dot-color: darken($neck-primary, 20%);

/* Dot Highlight */
$diagram-dot-highlight-background-color: rgba($diagram-dot-color, 0.8);
$diagram-dot-highlight-border-color: $diagram-dot-color;

/** Scalable **/
$scale: 0.35;

/* Nut */
$diagram-nut-border-width: 8px;

/* Label */
$diagram-label-font-size: 2rem * $scale;
$diagram-label-margin-top: .6rem * $scale;

/* Outline */
$diagram-outline-box-shadow: 0 2px 7px -2px #00000044;
$diagram-outline-border-width: 6px;
$diagram-outline-border: $diagram-outline-border-width * $scale solid
  $selector-border-color;
$diagram-outline-border-radius: 16px * $scale;

.diagram {
  cursor: pointer;
  position: relative;

  height: fit-content;
  margin: 1em;

  transition: 200ms transform;
  transform: translateY(0);

  .diagram-outline {
    transition: 200ms opacity;
    opacity: 0;
  }

  &.active {
    transform: translateY(-3px);

    .diagram-outline {
      position: absolute;
      height: calc(100% + 18px);

      opacity: 1;
      top: -10px;
      transform: translateY(0);

      border: $diagram-outline-border;
      border-radius: $diagram-outline-border-radius;
      box-shadow: $diagram-outline-box-shadow;
    }
  }

  .label-container {
    width: 100%;
    display: flex;
    justify-content: space-around;

    font-size: $diagram-label-font-size;
    margin-top: $diagram-label-margin-top;
  }

  /** Mid-Fretboard **/
  .diagram-container {
    position: relative;
    display: flex;
    width: fit-content;

    /* Offset */
    > span {
      position: absolute;

      line-height: $diagram-fret-height;
    }

    /* Strings */
    .strings {
      display: flex;
      justify-content: space-around;

      > div {
        width: $diagram-fret-width * $scale;
        display: flex;
        justify-content: center;

        &:first-child {
          border-left: 1px solid $diagram-container-border-color;
        }

        &:last-child {
          border-right: 1px solid $diagram-container-border-color;
        }

        > div {
          border-left: $diagram-string-border;
          height: 100%;
        }
      }
    }

    /* Frets */
    .frets {
      width: 100%;
      margin-left: -100%;

      > div {
        border-bottom: $diagram-fret-border;
        height: $diagram-fret-height * $scale;
        flex: 1;

        &:first-child {
          border-top: 1px solid $diagram-container-border-color;
        }

        &:last-child {
          border-bottom-color: $diagram-container-border-color;
        }
      }
    }

    /* Symbols */
    .symbols {
      width: 100%;
      margin-left: -100%;
      display: flex;
      justify-content: space-around;

      > div {
        display: flex;
        flex-direction: column;

        > div {
          flex: 1;
          position: relative;

          /* Note */
          .dot {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            background: $diagram-dot-background-color;
            border: $diagram-symbol-border-width * $scale solid
              $diagram-symbol-border-color;

            height: $diagram-dot-diameter * $scale;
            width: $diagram-dot-diameter * $scale;
            border-radius: $diagram-dot-diameter * $scale;

            /* Root */
            &.root {
              border-radius: 1px;
              transform: translate(-50%, -50%) rotate(45deg) scale(0.9);
            }
          }
        }
      }
    }

    /** Open Fretboard **/
    &.open {
      .strings {
        margin-top: $diagram-fret-height * $scale;
      }

      .frets {
        > div:first-child {
          border-top: none;
        }
        > div:nth-child(2) {
          border-top: $diagram-nut-border-width * $scale solid $diagram-container-open-border-color;
          margin-top: -($diagram-nut-border-width * $scale);
          height: ($diagram-fret-height + $diagram-nut-border-width) * $scale;
        }
      }

      .symbols {
        > div {
          > div:first-child {
            padding-bottom: $diagram-nut-border-width * $scale;
            margin-top: -($diagram-nut-border-width * $scale);

            .dot {
              background: none;
            }
          }
        }
      }
    }

    /** First Fret **/
    &.first {
      .frets {
        > div:first-child {
          border-top: $diagram-nut-border-width * $scale solid $diagram-container-open-border-color;
          margin-top: -($diagram-nut-border-width * $scale);
          height: ($diagram-fret-height + $diagram-nut-border-width) * $scale;
        }
        // margin-top: -$diagram-fret-height * $scale;
      }
    }

    > .string {
      .fret {
        border-bottom: $diagram-fret-border;
        height: $diagram-fret-height;
        width: $diagram-fret-width;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        &:first-child {
          border-top: $diagram-fret-border;
        }

        .symbol {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &.string {
            border-left: $diagram-string-border;
            height: 100%;
            left: 50%;
          }

          &.mute {
            &::before,
            &::after {
              content: '';
              display: block;
              background: $diagram-dot-background-color;
              border: $diagram-mute-border;
              height: $diagram-mute-diameter;
              position: absolute;
            }

            &::before {
              transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }

          &.dot {
            left: 50%;
            transition: 300ms background-color, 300ms border-color;

            background: $diagram-dot-background-color;
            // background: #00000044;
            border: $diagram-dot-border;

            height: $diagram-dot-diameter;
            width: $diagram-dot-diameter;
            border-radius: $diagram-dot-diameter / 2;

            &.highlight {
              background-color: $diagram-dot-highlight-background-color;
              border-color: $diagram-dot-highlight-border-color;
            }

            &.root {
              // background: $diagram-dot-background-color;
              // background: #00000044;

              border-radius: 1px;
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }

          &.barre {
            background: #000;
            height: 4px;
            width: 160%; // TODO: hack. check other screen resolutions

            &.start,
            &.end {
              width: 85%;
            }

            &.start {
              width: 85%;
              left: 50%;
              border-top-left-radius: 50%;
              border-bottom-left-radius: 50%;
            }

            &.end {
              border-top-right-radius: 50%;
              border-bottom-right-radius: 50%;
            }
          }
        }

        &.open {
          border-top: none;
          border-bottom-color: black;
          border-bottom-width: 3px;

          .symbol {
            &.dot {
              background: none;
              // background: rgba($diagram-dot-background-color, .5);
            }
          }
        }
      }

      &:first-of-type {
        .fret:not(.open) {
          border-left: $diagram-fret-border;
        }
      }

      &:last-of-type {
        .fret:not(.open) {
          border-right: $diagram-fret-border;
        }
      }
    }
  }

  &.md {
    .diagram-container {
      > span {
        // padding-top: $diagram-fret-height / 2;
        line-height: $diagram-fret-height / 2;
        font-size: 0.7rem;
      }

      > .string .fret {
        height: $diagram-fret-height / 2;
        width: $diagram-fret-width / 2;

        .symbol {
          &.dot {
            height: 10px;
            width: 10px;
            border-width: 1.5px;
          }

          &.mute {
            &::before,
            &::after {
              border-width: 2px;
              height: 12px;
            }
          }
        }
      }
    }
  }

  &.sm {
    .diagram-container {
      > span {
        top: $diagram-fret-height / 3;
        text-align: end;

        line-height: $diagram-fret-height / 3;
        font-size: 0.6rem;
      }

      > .string .fret {
        height: $diagram-fret-height / 3;
        width: $diagram-fret-width / 3;

        .symbol {
          border-left-width: 1px;

          &.dot {
            height: 6px;
            width: 6px;
            border-width: 1px;
          }

          &.root {
            height: 5.5px;
            width: 5.5px;
          }

          &.mute {
            &::before,
            &::after {
              border-width: 1px;
              height: 8px;
            }
          }
        }

        &.open {
          border-bottom-width: 3px;
        }
      }
    }

    .label-container {
      span {
        font-size: 0.3em;

        &:empty {
          width: 1em;
        }
      }
    }
  }
}
