nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;

  &.fixed-bottom {
    z-index: 1055;
  }

  a.dropdown-item {
    cursor: pointer;
  }

  button.btn-lg {
    border-width: 3px;
  }

  span.key-label {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 0.75rem;
  }

  .dropup.mode,
  button.options {
    margin-right: 0.75rem;
    opacity: 0.6;
    transition: background-color 100ms, opacity 100ms;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  button.options {
    color: #fff;
  }

  .dropup.mode {
    .btn {
      color: #fff;
      margin-left: -3px;

      &:not(:focus):not(:hover) {
        &:first-child {
          border-right-color: transparent !important;
        }
        &:last-child {
          border-left-color: transparent !important;
        }
      }

      &:first-child {
        padding-right: 0.6rem;
      }
      &:last-child {
        padding-left: 0.6rem;
      }
    }
    .dropdown-menu {
      font-size: 1.25rem;
      min-width: unset;
      inset: auto 0px 0px 0px !important;
      transform: translate3d(0, -54px, 0) !important;
      // width: 96%;
    }
  }

  .dropup.key {
    > button {
      min-width: 140px;
    }

    .dropdown-menu {
      background: none;
      border: none;
      min-width: unset !important;
    }
  }

  .dropup button:disabled {
    cursor: unset;
  }

  // BS Override
  &.navbar-expand .navbar-nav .dropdown-menu {
    right: -19px !important;
    top: -2px !important;
  }
}
