nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;

  &.fixed-bottom {
    z-index: 1055;
  }

  a.dropdown-item {
    cursor: pointer;
  }

  button.btn-lg {
    border-width: 3px;
  }

  .dropup.mode,
  button.options {
    margin-right: 0.75rem;
    opacity: 0.6;
    transition: background-color opacity 100ms;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  button.options {
    color: #fff;
  }

  .dropup.mode {
    .btn {
      color: #fff;
      margin-left: -3px;

      &:not(:active):not(:hover) {
        &:first-child {
          border-right-color: transparent;
        }
        &:last-child {
          border-left-color: transparent;
        }
      }

      &:first-child {
        padding-right: 0.6rem;
      }
      &:last-child {
        padding-left: 0.6rem;
      }
    }
    .dropdown-menu {
      font-size: 1.25rem;
      min-width: unset;
    }
  }

  .dropup button:disabled {
    cursor: unset;
  }

  // BS Override
  &.navbar-expand .navbar-nav .dropdown-menu {
    right: -19px !important;
    top: -2px !important;
  }
}
