@keyframes new-notification {
  0% {
    transform: translate(-400px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}

$warning: #ffc107;

.notifications {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 1050;

  .alert {
    position: absolute;
    opacity: 1;
    transform: translate(0, 0);
    animation: new-notification 200ms ease-out;
    transition: opacity 250ms, transform 250ms ease-out;

    // Overrides
    padding: 1rem 1.25rem;
    
    &.alert-dismissible {
      padding-right: 4rem;

      // TODO: remove this hard coding
      .close {
        bottom: 6px;
      }
    }
    // Overrides

    &.fading {
      opacity: 0;
    }

    > span {
      cursor: default;
    }

    .close {
      line-height: 0.8;

      &:hover {
        color: #fff;
      }
    }

    &.alert-warning {
      color: #fff;
      background-color: $warning;
      border: 3px solid darken($warning, 8%);
      font-weight: 500;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    }
  }
}
