@keyframes new-notification {
  0% {
    transform: translate(0, -60px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.notifications {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 1050;

  .alert {
    position: absolute;
    opacity: 1;
    transform: translate(0, 0);
    animation: new-notification 300ms ease-in-out;
    transition: opacity 300ms, transform 300ms;

    &.fading {
      opacity: 0;
    }

    > span {
      cursor: default;
    }

    .close {
      line-height: .8;
    }
  }
}