@keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes out {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}

.options-form {
  display: flex;
  margin-bottom: 1em;

  /* Select */
  .select-action {
    flex: 1;
    position: relative;

    button {
      justify-content: space-between;
    }

    > div,
    > input {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    > input {
      animation: in 200ms;
    }
  }

  .actions-container {
    position: relative;
  }

  $time: 100ms;

  .mode-actions,
  .confirm-actions {
    transition: transform (2 * $time) ease-out, opacity $time ease-in $time;

    &.hidden {
      position: absolute;

      opacity: 0;
      transform: translateY(100%) scaleY(0);
      transition: transform (2 * $time) ease-in, opacity $time ease-out;
    }

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;

    > * {
      margin-left: 0.5em;
    }
  }

  /* Mode Actions */
  .mode-actions {
    .dropdown-toggle::after {
      content: none;
    }
  }

  .dropdown {
    /* Select */
    &.show {
      button {
        background-color: unset;
      }
    }

    &:first-child {
    }

    .dropdown-toggle {
      height: 100%;
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
    }
  }
  /* Edit Toggle */
  // > button.btn-outline-secondary {
  //   color: #6c757d !important;
  // }
  button,
  .dropdown button {
    &.btn-outline-secondary {
      color: #6c757d !important;
    }
  }
  > button.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .dropdown-item {
    svg {
      color: #6c757d;
      margin-right: 0.5em;
    }
    &.disabled {
      svg {
        opacity: 0.3;
      }
    }
    &.create:hover svg {
      color: #28a745;
    }
    &.delete:hover {
      svg {
        color: mix(#dc3545, #6c757d, 75%);
      }
    }
  }
}
