.modal {
  #options {
    max-height: calc(100vh - #{$modal-margin-top} - #{$modal-margin-bottom});
    max-width: 400px;
    width: calc(100vw - 30px);
    margin: $modal-margin-top 15px $modal-margin-bottom;
    // overflow: hidden;

    position: absolute;
    bottom: 0;
    right: 0;

    .directions {
      transition: transform 200ms;
    }

    .modal-header {
      align-items: center;

      .close {
        padding: 1.4rem;

        &:focus {
          outline: none;
        }
      }
    }

    .modal-body {
      padding: 0 1px;
    }

    .modal-footer {
      padding: 0.25rem;
      border-top: none;
    }

    /* Options */
    .accordion {
      .card {
        border: none;

        // Bootstrap override (for dropovers)
        overflow: visible;

        .card-header {
          &:hover h5 {
            // TODO: finish this
          }
        }

        &.expanded {
          // Stole from bootstrap
          // border-top: 1px solid rgba(0, 0, 0, 0.125);
          // border-bottom: 1px solid rgba(0, 0, 0, 0.125);

          .card-subtitle {
            opacity: 0;
            max-height: 0;
          }
        }

        &:first-child {
          border-top: none;
        }
      }

      .card-header {
        background: $white;
        border-bottom: none;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        h5 {
          margin-bottom: 0.3rem;
        }

        .card-subtitle {
          transition: all 300ms;
          max-height: 1em;
        }
      }

      .card-body {
        padding-top: 0;
        .form-inline {
          input {
            max-width: 3em;
          }
        }
      }
    }
  }

  /* Instrument */
  .instrument-actions {
  }

  /* Tuning */
  .tuning-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
