html,
body {
  min-height: 100vh;
  overflow: hidden;
}

main {
  max-height: calc(100vh - #{$navbar-height});
  overflow-y: auto;
}

.ui {
  max-width: $neck-max-width;
}

.neck {
  display: block;
  position: relative;

  margin: $neck-margin-top auto $neck-margin-bottom;
  max-width: $neck-max-width + $fret-label-width * 2;

  .backdrop {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .strings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 0 $fret-label-width;
  }

  .string {
    flex-grow: 1;
  }

  .fret {
    display: block;
    position: relative;

    .label {
      @include center;
      height: 100%;
      width: 100%;

      position: absolute;
    }
  }
}
