// html,
// body {
//   min-height: 100vh;
//   overflow: hidden;
// }

// body {
// }

// html,
// body,
// main,
// .fretboard,
// .neck {
//   height: 100%;
// }

html,
body,
main {
  height: 100%;
}

body {
  background: $body-background-color;
}

main {
  position: relative;
  // Prevent scrollbar + nav overlap
  max-height: calc(100vh - #{$navbar-height});

  // main scrolls, not page
  // overflow-y: auto;
}

.layer {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  margin-bottom: $navbar-height;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// .ui {
//   max-width: $neck-max-width;
// }

// .backdrop,
// .neck {
//   margin: 0 auto;
// }
