/* Navbar */
nav.fixed-bottom {
  // z-index: 1060;
}

/* Dropdown */
.dropdown-menu {
  min-width: unset;
}

.dropdown .dropdown-toggle {
  &::after {
    margin-left: 8px;
  }
}

/* Form */
.form-check-input {
  margin-top: .4rem;
}