/* Fonts */
/* Navbar */
/* Options */
/* Neck */
/* Fretboard */
/* Frets */
/* Open Fret */
/* Fret Labels */
/* Fret Markers */
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700,900&display=swap");
html,
body {
  min-height: 100vh;
  overflow: hidden;
}

main {
  max-height: calc(100vh - 55px);
  overflow-y: auto;
}

.ui {
  max-width: 400px;
}

.neck {
  display: block;
  position: relative;
  margin: 80px auto 80px;
  max-width: 500px;
}

.neck .backdrop {
  position: absolute;
  top: 0;
  width: 100%;
}

.neck .strings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 50px;
}

.neck .string {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.neck .fret {
  display: block;
  position: relative;
}

.neck .fret .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

@-webkit-keyframes up-out {
  0% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-32px) scaleY(0.5);
            transform: translateY(-32px) scaleY(0.5);
    opacity: 0;
  }
}

@keyframes up-out {
  0% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-32px) scaleY(0.5);
            transform: translateY(-32px) scaleY(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes up-in {
  0% {
    -webkit-transform: translateY(32px) scaleY(0.5);
            transform: translateY(32px) scaleY(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}

@keyframes up-in {
  0% {
    -webkit-transform: translateY(32px) scaleY(0.5);
            transform: translateY(32px) scaleY(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes down-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(32px) scaleY(0.5);
            transform: translateY(32px) scaleY(0.5);
    opacity: 0;
  }
}

@keyframes down-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(32px) scaleY(0.5);
            transform: translateY(32px) scaleY(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes down-in {
  0% {
    -webkit-transform: translateY(-32px) scaleY(0.5);
            transform: translateY(-32px) scaleY(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down-in {
  0% {
    -webkit-transform: translateY(-32px) scaleY(0.5);
            transform: translateY(-32px) scaleY(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Bootstrap overrides/add-ons */
/* Navbar */
/* Dropdown */
.dropdown-menu {
  min-width: unset;
}

/* Form */
.form-check-input {
  margin-top: .4rem;
}

/* Components */
nav a.dropdown-item {
  cursor: pointer;
}

nav button.options {
  color: #fff;
  margin-right: 15px;
  opacity: 0.6;
  -webkit-transition: background-color opacity 100ms;
  transition: background-color opacity 100ms;
}

nav button.options:hover {
  opacity: 1;
}

.modal#options a[data-toggle] {
  cursor: pointer;
}

.modal#options a[data-toggle]:hover {
  text-decoration: none;
}

.modal#options label,
.modal#options input {
  cursor: pointer;
}

.modal#options .modal-dialog {
  max-height: calc(100vh - 15px - 70px);
  max-width: unset;
  width: calc(100vw - 30px);
  margin: 15px 15px 70px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.modal#options .modal-body {
  padding: 0 1px;
}

.modal#options .modal-footer {
  padding: .25rem;
  border-top: none;
}

.modal#options .card-title:only-child {
  -webkit-transition: margin .2s;
  transition: margin .2s;
}

.modal#options .collapsed .card-title:only-child {
  margin-bottom: .25rem;
}

.modal#options .form-inline h5 {
  display: inline-block;
}

.modal#options .list-group-item {
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.modal#options .list-group-item:last-child {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.modal#options .list-group-item .list-group-item {
  border: none;
  padding: 0.25rem 1.25rem;
}

.modal#options .list-group-item .form-group,
.modal#options .list-group-item .form-group h5 {
  margin-bottom: 0;
}

/* Modal Animation */
.animate-bottom {
  position: relative;
  -webkit-animation: animatebottom 0.2s;
          animation: animatebottom 0.2s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.neck {
  /* Fret Label Animations */
}

.neck .strings {
  font-family: "Merriweather", serif;
}

.neck.up .fret .label.prev.out {
  -webkit-animation: up-out 0.2s;
          animation: up-out 0.2s;
}

.neck.up .fret .label.next.in {
  -webkit-animation: up-in 0.2s;
          animation: up-in 0.2s;
}

.neck.down .fret .label.prev.out {
  -webkit-animation: down-out 0.2s;
          animation: down-out 0.2s;
}

.neck.down .fret .label.next.in {
  -webkit-animation: down-in 0.2s;
          animation: down-in 0.2s;
}

.fretboard {
  background-color: #fcfcfc;
}

.fretboard-labels,
.fretboard-markers {
  position: absolute;
  width: 100%;
}

.fretboard-labels {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fretboard-labels .fret-label-group {
  width: 50px;
}

.fretboard-labels .fret-label-group .fret-label {
  border: none none none none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999;
  height: 80px;
}

.fretboard-labels .fret-label-group .fret-label.open {
  height: 50px;
}

.fretboard-markers {
  padding: 50px 50px 0;
}

.fret-marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  color: #999;
}

.fret-marker .fret-marker {
  margin: 0 60px;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.fret {
  border: none none none none;
  border: none;
  border-bottom: 1px solid #ddd;
  height: 80px;
}

.fret.open {
  border-bottom: 2px solid #aaa;
  font-weight: 700;
  height: 50px;
}

.fret.open .fret-symbol {
  background-color: #ccc;
}

.fret .fret-symbol {
  border-radius: 50%;
  border: 1px solid #aaa;
  height: 10px;
  width: 10px;
}

.fret .label.next {
  opacity: 0;
}

.fret .label.next.in {
  opacity: 1;
}

.fret .label.prev {
  opacity: 1;
}

.fret .label.prev.out {
  opacity: 0;
}

.fret label {
  margin: 0;
}

main.left nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main.left nav form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main.left nav form button.options {
  margin: 0 0 0 15px;
}

main.left .neck .strings {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/*# sourceMappingURL=app.css.map */