main.left {
  // Navbar
  nav {
    flex-direction: row-reverse;

    form {
      flex-direction: row-reverse;

      button.options {
        margin: 0 0 0 15px;
      }
    }
  }

  // Neck
  .neck .neck-strings {
    flex-direction: row-reverse;
  }

  .indicators {
    flex-direction: row-reverse;
  }
}

.navbar.left {
  flex-direction: row-reverse;

  #key-dropdown {
    margin-right: 0.75rem;
  }

  .form-inline {
    flex-direction: row-reverse;
  }
}

// Slide-Ins
.ui.left {
  .mode-switch {
    left: unset;
    right: 30px;
  }
}

.modal.left #options {
  right: unset;
  left: 0;
}

.slidein-container {
  &.ui-left {
    // left: unset;
    // right: 450px;
  }
  &.left {
    .diagram {
      .diagram-container .symbols > div {
        flex-direction: row-reverse;
      }
      .label-container {
        flex-direction: row-reverse;
      }
    }
  }
}
