@mixin debug {
  border: $debug-border-top $debug-border-right $debug-border-bottom
    $debug-border-left;
  border: $debug-border;
}

@mixin flex-align($h, $v) {
  display: flex;
  align-items: $h;
  justify-content: $v;
}

@mixin flex-center {
  @include flex-align(center, center);
}

@mixin full {
  height: 100%;
  width: 100%;
}

