/* Button Group */
.btn-group-lg > .dropdown .btn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

/* Navbar */
nav.fixed-bottom {
  // z-index: 1060;
}

/* Dropdown */
.dropdown {
  .dropdown-toggle {
    &::after {
      margin-left: 8px;
    }
  }

  .dropdown-menu {
    min-width: unset;
    min-width: 100%;

    .dropdown-item {
      &.active {
        background-color: $neck-primary;
        color: #fff; //#414549;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
      }
    }
  }
}

/* Form */
.form-check-input {
  margin-top: 0.4rem;
}
