// $debug-border: none; //1px solid red;
// $debug-border-top: none; //1px solid red;
// $debug-border-right: none; //1px solid red;
// $debug-border-bottom: none; //1px solid red;

// Neck Ui
$white: #fff;

$theme-bg: $white;

$body-background-color: #fafafa;

$l2-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);

$bs-gray: #ced4da;
$bs-danger: #dc3545;


// $fretboard-background-color: #fff;

// $debug-border-left: none; //1px solid red;

// /* Colors */
$blue: rgb(135, 206, 235); //rgb(135, 206, 235);
$green: rgb(135, 235, 197);
$orange: rgb(241, 172, 42);

/* Theme */
$neck-primary: $blue;

// /* Fonts */
$font-merriweather: 'Merriweather', serif;

// /* Navbar */
$navbar-height: 67.6px;

// /* Options */
$modal-margin-top: 15px;
$modal-margin-bottom: $navbar-height + 15px;

// /* Neck */
$neck-padding-vertical: 100px;
$neck-font-family: $font-merriweather;

$neck-box-shadow: 0 20px 30px -10px #00000022;

/* Fretboard */
$fretboard-background: linear-gradient(
  0deg,
  $body-background-color,
  #fff 10%,
  #fff 90%,
  $body-background-color
);

/* Fretboard Markers */
$fretboard-marker-background-color: #f8f8f8;
$fretboard-marker-border: 1px solid #ddd;
$fretboard-marker-diameter: 12px;

$fretboard-marker-width: $fretboard-marker-diameter;
$fretboard-marker-height: $fretboard-marker-diameter;

// /* Frets */
$fret-border-bottom-width: 1px;
$fret-border-bottom: $fret-border-bottom-width solid #ddd;

$fret-open-border-bottom-width: 2px;
$fret-open-border-bottom: $fret-open-border-bottom-width solid #aaa;
$fret-open-font-weight: 700;

// /* Fret Labels */
$fret-label-color: #999;

$fret-animation-length: 0.2s;

// /* Fret Markers */
$fret-marker-background-color: #eee;
$fret-market-root-background-color: #ccc;
$fret-marker-border: 1px solid #999;
$fret-marker-diameter: 12px;

$fret-marker-width: $fret-marker-diameter;
$fret-marker-height: $fret-marker-diameter;

/* Selectors */
/* Includes:
  - Indicators
  - Slide-in Badges
  - Note Selection
  - Diagram outline
*/
$selector-border-color: rgba($neck-primary, 0.4);
$selector-gradient-inner: rgba($neck-primary, 0);
$selector-gradient-outer: rgba($neck-primary, 0.1);

$selector-gradient-linear: linear-gradient(
    $selector-gradient-outer,
    $selector-gradient-inner,
    $selector-gradient-outer
  )
  no-repeat;
$selector-gradient-radial: radial-gradient(
    circle at right,
    $selector-gradient-inner,
    $selector-gradient-outer 70%
  )
  no-repeat;