// $debug-border: none; //1px solid red;
// $debug-border-top: none; //1px solid red;
// $debug-border-right: none; //1px solid red;
// $debug-border-bottom: none; //1px solid red;

$body-background-color: #fafafa;

// $fretboard-background-color: #fff;

// $debug-border-left: none; //1px solid red;

// /* Colors */
$white: #fff;
$blue: rgb(135, 206, 235); //rgb(135, 206, 235);
$green: rgb(135, 235, 197);
$orange: rgb(241, 172, 42);

/* Theme */
$neck-primary: $blue;

// /* Fonts */
$font-merriweather: 'Merriweather', serif;

// /* Navbar */
$navbar-height: 67.6px;

// /* Options */
$modal-margin-top: 15px;
$modal-margin-bottom: $navbar-height + 15px;

// /* Neck */
$neck-padding-vertical: 100px;
$neck-font-family: $font-merriweather;

$neck-width: 400px;

$neck-box-shadow: 0 20px 30px -10px #00000022;

/* Fretboard */
$fretboard-background: linear-gradient(
  0deg,
  $body-background-color,
  #fff 10%,
  #fff 90%,
  $body-background-color
);

/* Fretboard Markers */
$fretboard-marker-background-color: #f8f8f8;
$fretboard-marker-border: 1px solid #ddd;
$fretboard-marker-diameter: 12px;

$fretboard-marker-width: $fretboard-marker-diameter;
$fretboard-marker-height: $fretboard-marker-diameter;

// /* Frets */
$fret-height: 80px;
$fret-border-bottom: 1px solid #ddd;

$fret-open-height: $fret-height;
$fret-open-border-bottom: 2px solid #aaa;
$fret-open-font-weight: 700;

// /* Fret Labels */
$fret-label-color: #999;

$fret-animation-length: 0.2s;

// /* Fret Markers */
$fret-marker-background-color: #eee;
$fret-market-root-background-color: #ccc;
$fret-marker-border: 1px solid #999;
$fret-marker-diameter: 12px;

$fret-marker-width: $fret-marker-diameter;
$fret-marker-height: $fret-marker-diameter;

/* General Selector */
$selector-border-color: rgba($neck-primary, 0.4);
$selector-gradient-inner: rgba($neck-primary, 0);
$selector-gradient-outer: rgba($neck-primary, 0.1);

$selector-gradient-linear: linear-gradient(
    $selector-gradient-outer,
    $selector-gradient-inner,
    $selector-gradient-outer
  )
  no-repeat;
$selector-gradient-radial: radial-gradient(
    circle at right,
    $selector-gradient-inner,
    $selector-gradient-outer 70%
  )
  no-repeat;

/* Indicators */
$indicator-radius: 20px;
$indicator-background: radial-gradient(
    $selector-gradient-inner,
    $selector-gradient-outer 70%
  )
  no-repeat;
$indicator-border: 4px solid $selector-border-color;

$indicator-muted-border: $indicator-border;
$indicator-muted-diameter: 30px;

$indicator-barre-diameter: 30px;
$indicator-barre-background: $selector-gradient-linear;
$indicator-barre-start-background: $selector-gradient-radial;
$indicator-barre-start-offset: -15px;